.gradle
*.iml
build
*~
*.DS_Store
*.class
*java#
*.settings
local.properties

bin/
gen/
out/

seeds.txt
unused.txt
mapping.txt

.idea/
!.idea/codeStyleSettings.xml
!.idea/fileTemplates/
!.idea/inspectionProfiles/

